<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Following are the stylesheets and javascripts for <%= website %>:</h1>
    <h2>Stylesheets</h2>
    <%if (stylesheets.length === 0) { %> Unable to get stylesheets <% } %>
    <ul>
      <% stylesheets.forEach(function(style){ %>
      <li><%= style %></li>
      <% }); %>
    </ul>
    <h2>Javascripts</h2>
    <%if (javascripts.length === 0) { %> Unable to get javascript <% } %>
    <ul>
      <% javascripts.forEach(function(script){ %>
      <li><%= script %></li>
      <% }); %>
    </ul>
  </body>
</html>
